@use "./colors.scss";

@function light-dark($light, $dark) {
  @return var(--light, #{$light}) var(--dark, #{$dark});
}

:root {
  --font-family: "Nunito Sans", system-ui, sans-serif;
  --ON: initial;
  // ref: https://lea.verou.me/2020/10/the-var-space-hack-to-toggle-multiple-values-with-one-custom-property/
  --OFF: ;
  --text: #{light-dark(colors.$very-dark-blue, white)};
  --background: #{light-dark(colors.$light-gray, colors.$semi-dark-blue)};
  --element: #{light-dark(white, colors.$dark-blue)};
}
