.toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.search {
  max-width: 30rem;
}

.filterRegion {
  max-width: 12.5rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(265px, auto);
  grid-gap: 3.75rem;
}
