@use "sass:map";
@use "styles/breakpoints.scss";

.container {
  max-width: map.get(breakpoints.$screen-map, "laptop-l");
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 6.25rem;

  @include breakpoints.down("laptop-l") {
    padding: 0 1.5rem;
  }
}

.header {
  padding: 1.5rem 0;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--element);
  box-shadow: 5.4px 10.9px 10.9px hsl(0deg 0% 0% / 5%);

  @include breakpoints.down("tablet") {
    padding: 2.5rem 0;
  }
}

.title {
  font-size: 1.5rem;

  @include breakpoints.down("tablet") {
    font-size: 1.25rem;
  }
}

.main {
  padding: 2.5rem 0;
}
