@use "styles/root-variables.scss";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: var(--font-family);
  color: var(--text);
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
ul,
ol {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

ul,
ol {
  list-style: none;
  padding-inline-start: 0;
}
